<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                </tr>

                {{#each categories}}
                <tr>
                    <th><a href="/posts?category={{id}}">{{id}}</a></th>
                    <th><a href="/posts?category={{id}}">{{category}}</a></th>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{#unless categories}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>